// Globals
$color-one: #f1f1f1;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	&__row {
		display: flex;
		flex-wrap: wrap;
	}
	&__col {
		flex: 0 0 100%;

		@media (min-width: 768px) {
			flex: 0 0 50%;
		}
	}

	&__client {
		// margin-bottom: 1em;
		// padding: 1em;
		// background-color: $color-one;
	}
	&__table-heading {
    background-color: $color-one;
    text-transform: uppercase;
    padding: 0.5em 0 0.5em 0;
	}
	&__table-cell {
    background-color: $color-one;
    padding: 0.5em 0 0.5em 0;
	}
	&__table-row {

	}
	&__client-data {
		//list-style-type: none;
	}
}
